@import 'material-symbols/rounded.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}

body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  font-family: 'Manrope', sans-serif;

}


.form-gradient-bg {
  background: radial-gradient(circle at top right, rgba(168, 85, 247, 0.15), transparent),
    radial-gradient(circle at bottom left, rgba(99, 102, 241, 0.1), transparent);
}